:root{
    --bg-color: #fcfcfc;
    --category-color:#e7e2e2;
    --border-color : #a3a2a2;
}

.page-container{
    display: flex;
    text-align: initial;
    margin-top: 4rem;
    width: 100vw;
    
}

.home-section{
    width: 100vw;
}

.videos-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem 1rem;
    background-color: var(--bg-color);
    padding: 1rem;
    min-height: 100vh;
}

.video{
   background-color: var(--white-color);
   max-width: 18.75rem;
   max-height: auto;
   gap: 1rem;
   cursor: pointer;
   height: 320px;
   position: relative;

}

.video-img{
   height: 11.25rem;
   width: 18.75rem;
}

.video-img:hover{
    transition: .4s all ease-in;
    transform: scale(1.02);
}

.video-info{
    color: var(--border-color);
}

.video-info-container{
    padding: 10px;
}

.options{
    margin-left: 2rem;
}

.options-icon{
    padding: 6px 12px;
    border-radius: 50%;
}

.options-icon:hover{
    background-color: var(--category-color);
}

.video-model-btns{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    gap: 10px;
    background-color: var(--bg-color);
    border: 1px solid var(--bg-color);
    position: absolute;
    bottom: 3rem;
    left: 5rem;
}

.video-model-btn{
    padding: 6px 3px;
    margin: 0 3px;
}

.video-model-btn:hover{
    background-color: var(--white-color);
}

#hidden{
    display: none;
}

#visible{
    display: block;
}
